*.csv
set-EsxPortGroup.ps1
.vscode
*.html
*.xlsx
*.log
.secrets
*_flow_ruleset.json
ahv/github.code-workspace
.DS_Store
*.DS_Store
.DS_Store/
/.DS_Store/
*.tfvars
.terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.lock.hcl
.terraform.lock.hcl
/.local/
.local/
/__pycache__/
__pycache__
previous
/previous/