humanfriendly
keyring
tqdm
urllib3
ntnx-microseg-py-client
ntnx-networking-py-client
ntnx-prism-py-client
tabulate
colorama
termcolor
pandas
numpy<2
ntnx_iam_py_client
ntnx-clustermgmt-py-client
ntnx-vmm-py-client
plotly
ntnx-aiops-py-client
